exemp_05_08/index.html
exemp_05_08/main.js
exemp_05_08/css/estilos.css
exemp_05_08/css/reset.css
exemp_05_08/images/bateria.png
exemp_05_08/sounds/keya.wav
exemp_05_08/sounds/keyc.wav
exemp_05_08/sounds/keyd.wav
exemp_05_08/sounds/keye.wav
exemp_05_08/sounds/keyq.wav
exemp_05_08/sounds/keys.wav
exemp_05_08/sounds/keyw.wav
exemp_05_08/sounds/keyx.wav
exemp_05_08/sounds/keyz.wav
